@model List<ShirtViewModel>

<a class="btn btn-primary" asp-action="Create" asp-controller="Shirt">Yeni Ürün Ekle</a>

<table class="table table-striped table-hover">
    <tr class="text-danger fw-bolder">
        <td>#</td>
        <td>Ürün Ad</td>
        <td>Ürün Kategorisi</td>
        <td>Ürün Açıklaması</td>
        <td>Ürün Resmi</td>
        <td>Ürün İşlemleri</td>


    </tr>

    @foreach (var item in Model)
    {
        string classCss = item.Category is null ? "bg-danger  bg-gradient opacity-75 text-light fw-bolder" : "";



        <tr class="@classCss">
            <td>@item.RowNum</td>
            <td>@item.Name</td>
            <td>@item.Category?.Name</td>
            <td>@item.Description</td>
            <td> <img height="60px" width="60px" src="~/Images/@item.Picture" alt="Resim Yok" /> </td>
            <td>
                <a class="btn btn-info" asp-controller="Shirt" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                <a class="btn btn-danger" asp-controller="Shirt" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>

        </tr>
    }

</table>