@model CategoryViewModel

<h1 class="alert-primary">@Model.Name</h1>

@{
    if (Model.Shirts.Any())
    {
        <table class="table table-hover">
            @foreach (var item in Model.Shirts)
            {
                <tr>
                    <td>@item.RowNum</td>
                    <td>@item.Name</td>
                    <td> <img height="60px" width="60px" src="~/Images/@item.Picture" alt="Resim Yok" /> </td>
                    <td>
                        <a class="btn btn-info" asp-controller="Shirt" asp-action="Edit" asp-route-id="@item.Id">Ürünü Düzenle</a>
                        <a class="btn btn-secondary" asp-controller="Shirt" asp-action="Detail" asp-route-id="@item.Id">Ürün Detay</a>
                        <a class="btn btn-danger" asp-controller="Shirt" asp-action="Delete" asp-route-id="@item.Id">Ürünü Sil</a>
                    </td>

                </tr>
            }
        </table>
    }
}

@{
    if (Model.Tshirts.Any())
    {
        <table class="table table-hover">
            @foreach (var item in Model.Tshirts)
            {
                <tr>
                    <td>@item.RowNum</td>
                    <td>@item.Name</td>
                    <td> <img height="60px" width="60px" src="~/Images/@item.Picture" alt="Resim Yok" /> </td>
                    <td>
                        <a class="btn btn-info" asp-controller="Tshirt" asp-action="Edit" asp-route-id="@item.Id">Ürünü Düzenle</a>
                        <a class="btn btn-secondary" asp-controller="Tshirt" asp-action="Detail" asp-route-id="@item.Id">Ürün Detay</a>
                        <a class="btn btn-danger" asp-controller="Tshirt" asp-action="Delete" asp-route-id="@item.Id">Ürünü Sil</a>
                    </td>

                </tr>
            }
        </table>
    }
}